<<<<<<< HEAD

=======
div {
    width: 100%;
}
div.c {
    word-wrap: break-word;
}
>>>>>>> 52d4f5a2590c2ca04bcdd2a27dd1923742f98433
/* The alert message box */
.alert-warn{
    padding: 20px;
    background-color: #ff9800; /* blue */
    color: #ffeb3b;
    margin-bottom: 15px;
}

.alert {
    padding: 20px;
    background-color: #80d8ff; /* blue */
    color: #ffeb3b;
    margin-bottom: 15px;
}

.bre {
    word-wrap: break-word;
}
.border {
    border-width: medium;
}