
/* The alert message box */
.alert-warn{
    padding: 20px;
    background-color: #ff9800; /* blue */
    color: #ffeb3b;
    margin-bottom: 15px;
}

.alert {
    padding: 20px;
    background-color: #80d8ff; /* blue */
    color: #ffeb3b;
    margin-bottom: 15px;
}

.App {
    padding-top: 1rem;
    margin: 2rem auto;
}

.App-logo {
    height: 80px;
}

.Spin {
    animation: App-logo-spin infinite 2s linear;
}
.bre {
    word-wrap: break-word;
}
.App-header {
    text-align: center;
    background-color: var(--secondary);
    padding: 20px;
    color: white;
    border-radius: 0.3rem;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}
.border {
    border-width: medium;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}